<div ng-include="httpConfigPartialSrc"></div>

<br>

<h5>PRTG API Configuration</h5>
<p>We recommend that you create a special-privilege account for remote API use.</p>
<p>You will need to manually configure PRTG to send a CORS compliant response header. Read more at <em>PLACEHOLDER</em>.</p>
<div class="tight-form">
  <ul class="tight-form-list">
    <li class="tight-form-item" style="width: 80px">
      User
    </li>
    <li>
      <input type="text" class="tight-form-input input-large" ng-model='current.jsonData.prtgApiUser' placeholder=""></input>
    </li>
    <li class="tight-form-item">
      Password
    </li>
    <li>
      <input type="password" class="tight-form-input input-large" ng-model='current.jsonData.prtgApiPassword' placeholder=""></input>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
