<div class="editor-row">
	<div  class="tight-form-container" ng-class="{'tight-form-disabled': target.hide}">
		<div class="tight-form">
			<ul class="tight-form-list pull-right">
				<li class="tight-form-item">
					<div class="dropdown">
						<a  class="pointer dropdown-toggle"
							data-toggle="dropdown"
							tabindex="1">
							<i class="fa fa-bars"></i>
						</a>
						<ul class="dropdown-menu pull-right" role="menu">
							<li role="menuitem"><a tabindex="1" ng-click="duplicate()">Duplicate</a></li>
							<li role="menuitem"><a tabindex="1" ng-click="moveMetricQuery($index, $index-1)">Move up</a></li>
							<li role="menuitem"><a tabindex="1" ng-click="moveMetricQuery($index, $index+1)">Move down</a></li>
						</ul>
					</div>
				</li>
				<li class="tight-form-item last">
					<a class="pointer" tabindex="1" ng-click="removeDataQuery(target)">
						<i class="fa fa-remove"></i>
					</a>
				</li>
			</ul>

			<ul class="tight-form-list">
				<li class="tight-form-item" style="min-width: 15px; text-align: center">
					{{target.refId}}
				</li>
				<li>
					<a  class="tight-form-item"
						ng-click="target.hide = !target.hide; get_data();"
						role="menuitem">
						<i class="fa fa-eye"></i>
					</a>
				</li>
			</ul>

			<ul class="tight-form-list" role="menu">
				<!-- Alias -->
				<li>
				<input type="text"
					 class="tight-form-input input-medium"
					 ng-model="target.alias"
					 spellcheck='false'
					 placeholder="Alias"
					 ng-blur="targetBlur()">
				</li>
				<!-- Select Probe / Group -->
				<li class="tight-form-item input-small" style="width: 5em">Group</li>
				<li>
					<select class="tight-form-input input-large"
					  ng-change="selectGroup()"
					  ng-model="target.group"
					  bs-tooltip="target.group.name.length > 25 ? target.group.name : ''"
					  ng-options="group.visible_name ? group.visible_name : group.name for group in metric.groupList track by group.name" >
						<option value="">-- Select Group --</option>
					</select>
					<a bs-tooltip="target.errors.metric"
						style="color: rgb(229, 189, 28)"
						ng-show="target.errors.metric">
						<i class="fa fa-warning"></i>
					</a>
				</li>
				<!-- Select Device -->
				<li class="tight-form-item input-small" style="width: 5em">Host</li>
					<li>
						<select class="tight-form-input input-large"
						ng-change="selectDevice()"
						ng-model="target.device"
						bs-tooltip="target.device.name.length > 25 ? target.device.name : ''"
						ng-options="device.visible_name ? device.visible_name : device.name for device in metric.deviceList track by device.name" >
							<option value="">-- Select Device --</option>
						</select>
						<a bs-tooltip="target.errors.metric"
							style="color: rgb(229, 189, 28)"
							ng-show="target.errors.metric">
							<i class="icon-warning-sign"></i>
						</a>
					</li>
				</ul>

			<div class="clearfix"></div>
		</div>

		<div class="tight-form">
			<ul class="tight-form-list" role="menu">
				<li class="tight-form-item" style="min-width: 15px; text-align: center">&nbsp</li>
				<li class="tight-form-item">
			  <i class="fa fa-eye invisible"></i>
			</li>
				<li class="tight-form-item" style="width: 135px">&nbsp;</li>

				<!-- Select Sensor -->
				<li class="tight-form-item input-small" style="width: 5em">Sensor</li>
				<li>
				<select class="tight-form-input input-large"
						ng-change="selectSensor()"
						ng-model="target.sensor"
						bs-tooltip="target.sensor.visible_name.length > 15 ? target.sensor.visible_name : ''"
						ng-options="sensor.visible_name ? sensor.visible_name : sensor.name for sensor in metric.sensorList track by sensor.name" >
					<option value="">-- Select Sensor --</option>
				</select>
				<a bs-tooltip="target.errors.metric"
				   style="color: rgb(229, 189, 28)"
				   ng-show="target.errors.metric">
					<i class="icon-warning-sign"></i>
				</a>
			</li>
			<!-- Select Channel -->
			<li class="tight-form-item input-small" style="width: 5em">Channel</li>
			<li>
				<select class="tight-form-input input-large"
						ng-change="selectChannel()"
						ng-model="target.channel"
						bs-tooltip="target.channel.visible_name.length > 25 ? target.channel.name : ''"
						ng-options="channel.visible_name ? channel.visible_name : channel.name for channel in metric.channelList track by channel.name" >
					<option value="">-- Select Channel --</option>
				</select>
				<a bs-tooltip="target.errors.metric"
				   style="color: rgb(229, 189, 28)"
				   ng-show="target.errors.metric">
					<i class="icon-warning-sign"></i>
				</a>
			</li>
			<!-- Channel filter -->
			<li class="tight-form-item">
			  Multiple Values
			  <i class="fa fa-question-circle" bs-tooltip="'Some channels such as sFlow/NetFlow have multiple values per channel. Specify a row number to ensure you retrieve the correct metric.'"></i>
			</li>
			<li>
			  <input type="text"
					 class="tight-form-input input-large"
					 ng-model="target.channelFilter"
					 ng-change="updateChannel()"
					 spellcheck='false'
					 placeholder="Enter number (0 for default)"
					 ng-blur="targetBlur()">
			</li>
			<!-- Scale -->
			<li class="tight-form-item">
			  Scale
			  <i class="fa fa-question-circle" bs-tooltip="'Set a custom multiplier for series values, for example -1 to invert series'"></i>
			</li>
			<li>
			  <input type="text"
					 class="tight-form-input input-small"
					 ng-model="target.scale"
					 spellcheck='false'
					 placeholder="1"
					 ng-blur="targetBlur()">
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
</div>


