
<div class="editor-row">
  <div class="section">
    <h5>PRTG Sensor</h5>
    <p>Enter the sensor ID for this annotation. The sensor ID will be used to query messages from the API.</p>
  </div>
</div>

<div class="editor-row">
  <div class="editor-option">
    <label class="small">Sensor ID</label>
    <input type="text" class="input-medium" ng-model='currentAnnotation.sensorId'></input>
  </div>
<div>

<div class="editor-row">
  <div class="section">
    <h5>Options</h5>
    <input type="checkbox" class="cr1" id="currentAnnotation.showOkEvents"
           ng-model="currentAnnotation.showOkEvents"
           ng-checked="currentAnnotation.showOkEvents">
    <label for="currentAnnotation.showOkEvents" class="cr1">Show OK events
      <tip>Show events, generated when trigger release to OK state</tip>
    </label>
  </div>
</div>