
<div class="gf-form-group">
  <h4>PRTG Sensor Messages</h4>
  <p>Provide the numeric ID for a sensor to show status messages.</p>
  <p><strong>Hint:</strong> to display every PRTG message, leave the Sensor ID field blank!</p>
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label width-10">Sensor ID</span>
      <input type="text"
             class="gf-form-input max-width-16"
             ng-model="ctrl.annotation.sensorId">
      </input>
    </div>
  </div>
</div>

